<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <h1>FAQs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Refund</h2>
<p>Products purchased can not be returned. Refunds can only be made for items purchased but not listed when you receive your order. Kindly contact us upon receipt and a customer service agent will be delighted in assisting you.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Damaged Shipment</h2>
            <p>Kindly forward all issues regarding package with the postal service. Contact us and submit photos of damaged shipment. We will work with the post office to address the issue and process your refund.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Shipping Cost</h2>
            <p>Typically most customer order an average of 5 to 6 products per shipment. If your order exceeds the quantity necessary to fit in a large box (USPS), we will contact you with options to secure another shipping package. Since our shipping rates are flat, there will be additional charge for the extra package.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Payment</h2>
            <p>Most payments are made via PayPal, Stripe or Amazon Pay and Cash App. We do not accept check payments for items ordered.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Delivery Terms</h2>
            <p>We deliver to cities within the United States. Local delivery around Stockton is delivered within 24 hours or the next day. Please verify with customer service to confirm delivery to your zip. Orders made over the weekend will be delivered on the next business day. Other options are local pickup and domestic delivery (USA)</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Frozen Produce Shipment</h2>
            <p>We do carry some products frozen. Since most of our items are shipped via the USPS flat rate shipment which normally takes 2 business days to arrive; we highly recommend overnight shipment for such items. Shipment overnight is optional and cost will be determined and added to the overall cost. Most frozen items are shipped in a insulated bag. Typically each bag can carry 5 individual items ( USPS Large Box). If there is a need to place your order in additional boxes a team member form our shipping department will contact you.</p>
        </div>
    </div>
</div>