<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <h1>About Bisola Africa Grocery Online</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Bisola African Grocery Online (BAGO) is focused on the online grocery retail business because of the demand for online shopping within the african in Stockton and beyond. BAGO plans to connect millions of household customers with approved distributors within its network. BAGO.com is an e-commerce website available 24 X 7 to the internet friendly customers. It is a virtual online market place facilitating easy buying of groceries from Africa countries.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>BAGO.com aims to harness the potency of the internet with its e-commerce grocery store, which is the growing trend for most African American & Africans to purchase consumer goods with a click of a button. BAGO.com is headquartered in Stockton, CA, targeting this city expanding African Community and offering online access to a host of culturally sensitive foods, customers within the United States will have access to its inventory of goods, which will be shipped by local courier and the postal service.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>BAGO.com aims to be the nation’s leading destination for online grocery shopping for tropical foods from Africa.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>BAGO takes pride in meeting our customer’s grocery needs and pay key attention to your comments and feedback. Quality customer service is priority number one while providing you with quality products at affordable prices. We continue to improve our services to meet demand, with plans for local delivery services within Stockton in addition to our national distribution network, using the USPS, FedEx and the UPS for shipment. Contact Us with your questions and feedback.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Best Prices & Offers</h3>
            <p>Cheaper prices than your local supermarket, great discounts to top it off. Free delivery for purchases over $150.00 for local delivery within Stockton.</p>
        </div>
        <div class="col-4">
            <h3>Wide Assortment</h3>
            <p>Choose from variety of products across food, herbal supplements, ethnic foods & other categories.</p>
        </div>
        <div class="col-4">
            <h3>Refund</h3>
            <p>BAGO will refund cost of items if damage is reported upon receipt. Provide proof (Photos) and call customer service & get a refund within 24 hours.</p>
        </div>
    </div>
</div>
