<div class="container-fluid">
    <div class="row">
        <div class="col">
            <!-- <img src="../../../../assets/AfrOnline.jpeg" width=380% height=100% alt="No Image"> -->
            <img src="./assets/AfrOnline.jpeg" width=380% height=100% alt="No Image">
            
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <h3>Head Office</h3>
            <p>123 Main Street</p>
            <p>Stockton, CA95212</p>
            <p>USA</p>
            <p>Tel.:888-888-8888</p>
            <p>Email.:bago@yahoo.com</p>
        </div>
        <div class="col-6">
            <h3>Local Pickup</h3>
            <p>7051 Industrial Park</p>
            <p>Stockton, CA95207</p>
            <p>USA</p>
            <p>Tel.: 777-777-7777 </p>
            <p>Email.: bago@yahoo.com </p>
        </div>
    </div>
</div>