<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Register</h1>

        </div>
    </div>
    <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      Name:
    </div>
    <div class="col">
      <input type="text" class="form-control" id="inputName">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputUserName">User Name</label>
    </div>
    <div class="col">
      <input type="text" class="form-control" id="inputUserName">
    </div>
</div>

<div class="row">
    <div class="form-group col-md-6">
      <label for="inputPassword">Password</label>
    </div>
    <div class="col">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="inputRPassword">Retype Password</label>
    </div>
    <div class="col">
      <input type="password" class="form-control" id="inputRPassword">
    </div>
  </div>
  <div class="row">
  <div class="form-group">
    <label for="inputAddress">Address</label>
  </div>
  <div class="col">
    <input type="text" class="form-control" id="inputAddress" placeholder="">
  </div>
</div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>CA</option>
        <option>TX</option>
        <option>FL</option>
        <option>NV</option>
        <option>MD</option>
        <option>SC</option>
      
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

</div>

