
<!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">More Info</button> -->


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{product?.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <img src={{product.image}}>
      <p>{{product.category}}</p>
      <p>{{product.description}}</p>
      <p>${{product.price}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

  <button class="btn btn-outline-primary mb-2 mr-2" (click)="open(content)">More Info</button>