<ul class="nav justify-content-center">
   <li class="nav-item">
     <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
   </li>
   <li class="nav-item">
    <a class="nav-link active" routerLink="/signup" routerLinkActive="active">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/login" routerLinkActive="active">Log In</a>
  </li>
   <li class="nav-item">
       <a class="nav-link active" routerLink="/aboutus" routerLinkActive="active">About Us</a>
   </li>
   <li class="nav-item">
    <a class="nav-link active" routerLink="/myaccount" routerLinkActive="active">My Account</a>
</li>
<li class="nav-item">
  <a class="nav-link active" routerLink="/shop" routerLinkActive="active">Shop</a>
</li>
<li class="nav-item">
  <a class="nav-link active" routerLink="/contact" routerLinkActive="active">Contact</a>
</li>
   <li class="nav-item">
       <a class="nav-link active" routerLink="/faqs" routerLinkActive="active">FAQs</a>
   </li>
   
<div class="form-inline my-2 my-lg-0">
  <a id="cart" (click) = "toggleList()"><i class="fa fa-shopping-cart"></i> Cart <span class="badge badge-info">{{cartCount}}</span></a>
</div>   
 </ul>



 <div class="container" *ngIf="showList">
  <div class="shopping-cart">
      <div class="shopping-cart-header">
          <i class="fa fa-shopping-cart cart-icon"></i><span class="badge badge-info">{{cartCount}}</span>
          <div class="shopping-cart-total">
              <span>Total:</span>
              <span>${{cartTotal}}</span>
          </div>
      </div>
      <div *ngIf="cartItems.length == 0" class="py-2">
          No items in your cart!
      </div>
      <ul class="shopping-cart-items">
          <li *ngFor="let item of cartItems, let i=index">
              <!-- <img src="assets/test.jpg" alt="Item" /> -->
              <span class="item-name">{{item.name}}</span>
              <span class="item-price">${{item.price}}</span>
              <span class="item-quantity">{{item.quantity}}</span>
              <a class="item-remove text-danger" (click)="removeFromCart(item,i)"> Remove </a>
          </li>
      </ul>
      <a href="#" class="btn btn-primary btn-block" (click)="checkout()" >Checkout</a>
  </div>
</div>




