<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <h2>My Account</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4><p>To view your recent orders, manage your shipping and billing address, add and display payment methods and edit your password and account details.</p></h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <a class="btn btn-secondary btn-lg" href="/orders" role="button">Orders</a>

            
        </div>
        <div class="col-4">To view your orders.</div>
    </div>
    

    <div class="row mb-3">
        <div class="col-2">
            <a class="btn btn-secondary btn-lg" href="/address" role="button">Addresses</a>

            
        </div>
        <div class="col-4">Display your billing and shipping address.</div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <a class="btn btn-secondary btn-lg" href="/payment" role="button">Payment Methods</a>
            
        </div>
        <div class="col-4">Add and display payment methods.</div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <a class="btn btn-secondary btn-lg" href="/accountdetail" role="button">Account Details</a>
        </div>
        <div class="col-4">To edit your personal information and password .</div>
    </div>
<div class="row d-flex justify-content-center">
    <div class="col d-flex justify-content-center">
        <a class="btn btn-secondary btn-lg" href="#" role="button">Log Out</a>
    </div>
</div>
</div>

