<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>My Account:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4><p>To view your recent orders, manage your shipping and billing address, add and display payment methods and edit your password and account details.</p></h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <button type="button" class="btn btn-secondary">Orders</button>
        </div>
        <div class="col-4">To view your orders.</div>
    </div>
    

    <div class="row mb-3">
        <div class="col-2">
            <button type="button" class="btn btn-secondary">Addressess</button>
        </div>
        <div class="col-4">Display your billing and shipping address.</div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <button type="button" class="btn btn-secondary">Payment Methods</button>
        </div>
        <div class="col-4">Add and display payment methods.</div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <button type="button" class="btn btn-secondary">Account Details</button>
        </div>
        <div class="col-4">To edit your personal information and password .</div>
    </div>
<div class="row d-flex justify-content-center">
    <div class="col d-flex justify-content-center">
        <button type="button" class="btn btn-secondary">Log Out</button>
    </div>
</div>
</div>

