<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Shop:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>BAGO online store carries an assorted inventory of African Foods (Products). Most of our products come from a host of regions in Africa. We carry foods from West, East, North, Central and South Africa.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/aboniki.png" class="card-img-top" alt="No Image">
                <div class="card-body">
                    <p class="card-text">Cosmetics</p>
                    <h5 class="card-title">Aboniki Balm</h5>
                    <h5 class="card-title">$5.45</h5>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/Adom.jpeg" class="card-img-top" alt="No Image">
                <div class="card-body">
                    <p class="card-text">Natural Supplement</p>
                    <h5 class="card-title">Adom Kooko Capsules</h5>
                    <h5 class="card-title">$18.75</h5>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/cbeef.jpeg" class="card-img-top" alt="No Image">
                <div class="card-body">
                    <p class="card-text">Can Foods</p>
                    <h5 class="card-title">Al Amair Corned Beef</h5>
                    <h5 class="card-title">$5.99</h5>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/banku.jpeg" class="card-img-top" alt="No Image">
                <div class="card-body">
                    <p class="card-text">Grains</p>
                    <h5 class="card-title">Banku Mix Flour</h5>
                    <h5 class="card-title">$9.99</h5>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/carnation.jpeg" class="card-img-top" alt="No Image">
                <div class="card-body">
                    <p class="card-text">Carnation Milk</p>
                    <h5 class="card-title">Can Foods</h5>
                    <h5 class="card-title">$2.99</h5>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/hytopoil.jpeg" class="card-img-top" alt="No Image">
                <div class="card-body">
                    <p class="card-text">Hytop Canola Oil</p>
                    <h5 class="card-title">Cooking Oil</h5>
                    <h5 class="card-title">$4.99</h5>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
        </div>
    </div>
</div>
