<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Shop:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>BAGO online store carries an assorted inventory of African Foods (Products). Most of our products come from a host of regions in Africa. We carry foods from West, East, North, Central and South Africa.</p>
        </div>
    </div>
  

    <div class="row">
        <div class="col" *ngFor = 'let item of aProductList'>
            <div class="card" style="width: 18rem;">
                <!-- <img src="{{item.pImage}}" class="card-img-top" alt="..."> -->
                <img src="{{item.image}}" width=200 height=200 class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">{{item.category}}</p>
                  <a routerLink="/{{item.nameURL}}/{{item.id}}"> <h5 class="card-title">{{item.name}}</h5></a>
                  <!-- <p class="card-text">{{item.description}}</p> -->

                  <p class="card-text">${{item.price}}</p>
                  <!-- <app-modal [product] = 'item'></app-modal> -->
                  <a routerLink="/{{item.nameURL}}/{{item.id}}" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
        </div>
    </div>
</div>
